<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <!-- <div>
        <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
      </div> -->
      <div>
        <h4 class="logo-text">ML Dashboard</h4>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="">
          <div class="parent-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <div class="menu-title">Dashboard</div>
        </a>
      </li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="bag-handle-outline"></ion-icon>
          </div>
          <div class="menu-title">eCommerce</div>
        </a>
        <ul>
        
          <li><a href="ecommerce-checkout-review.html">
              <ion-icon name="ellipse-outline"></ion-icon>Review Cart
            </a>
          </li>
          <li><a href="ecommerce-checkout-complete.html">
              <ion-icon name="ellipse-outline"></ion-icon>Order Complete
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">UI Elements</li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="briefcase-outline"></ion-icon>
          </div>
          <div class="menu-title">Widgets</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Static Widgets
            </a>
          </li>
          <li> <a href="widgets-data-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Data Widgets
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="link-outline"></ion-icon>
          </div>
          <div class="menu-title">Support</div>
        </a>
      </li>
    </ul>
    <!--end navigation-->
</aside>